<%= form_for(settings, url: settings_update_path, method: :put) do |f| %>
  <div class="form-field">
    <%= f.label :accepted_threshold %>
    <%= f.number_field :accepted_threshold %>
  </div>
  <div class="form-field">
    <%= f.label :waitlist_threshold %>
    <%= f.number_field :waitlist_threshold %>
  </div>
  <div class="form-field">
    <%= f.label :required_rates_num %>
    <%= f.number_field :required_rates_num %>
  </div>
  <div class="form-field">
    <%= f.label :beginning_of_preparation_period %>
    <%= f.date_field :beginning_of_preparation_period %>
  </div>
  <div class="form-field">
    <%= f.label :beginning_of_registration_period %>
    <%= f.date_field :beginning_of_registration_period %>
  </div>
  <div class="form-field">
    <%= f.label :beginning_of_closed_period %>
    <%= f.date_field :beginning_of_closed_period %>
  </div>
  <%= f.submit "Save settings" %>
<% end  %>
