<%= form_for(@submission) do |f| %>
  <% if @submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

      <ul>
      <% @submission.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :full_name %><br>
    <%= f.text_field :full_name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%= f.number_field :age %>
  </div>
  <div class="field">
    <%= f.label :codeacademy_username %><br>
    <%= f.text_field :codeacademy_username %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :html %><br>
    <%= f.radio_button :html, :never %>
    <%= f.radio_button :html, :heard %>
    <%= f.radio_button :html, :used %>
    <%= f.radio_button :html, :fluent %>
  </div>
  <div class="field">
    <%= f.label :css %><br>
    <%= f.radio_button :css, :never %>
    <%= f.radio_button :css, :heard %>
    <%= f.radio_button :css, :used %>
    <%= f.radio_button :css, :fluent %>
  </div>
  <div class="field">
    <%= f.label :js %><br>
    <%= f.radio_button :js, :never %>
    <%= f.radio_button :js, :heard %>
    <%= f.radio_button :js, :used %>
    <%= f.radio_button :js, :fluent %>
  </div>
  <div class="field">
    <%= f.label :ror %><br>
    <%= f.radio_button :ror, :never %>
    <%= f.radio_button :ror, :heard %>
    <%= f.radio_button :ror, :used %>
    <%= f.radio_button :ror, :fluent %>
  </div>
  <div class="field">
    <%= f.label :db %><br>
    <%= f.radio_button :db, :never %>
    <%= f.radio_button :db, :heard %>
    <%= f.radio_button :db, :used %>
    <%= f.radio_button :db, :fluent %>
  </div>
  <div class="field">
    <%= f.label :programming_others %><br>
    <%= f.radio_button :programming_others, :never %>
    <%= f.radio_button :programming_others, :heard %>
    <%= f.radio_button :programming_others, :used %>
    <%= f.radio_button :programming_others, :fluent %>
  </div>

  <div class="field">
    <%= f.label :english %><br>
    <%= f.radio_button :english, :none %>
    <%= f.radio_button :english, :basic %>
    <%= f.radio_button :english, :fluent %>
  </div>
  <div class="field">
    <%= f.label :operating_system %><br>
    <%= f.radio_button :operating_system, :mac %>
    <%= f.radio_button :operating_system, :linux %>
    <%= f.radio_button :operating_system, :windows %>
  </div>
  <div class="field">
    <%= f.label :first_time %><br>
    <%= f.check_box :first_time %>
  </div>
  <div class="field">
    <%= f.label :goals %><br>
    <%= f.text_area :goals %>
  </div>
  <div class="field">
    <%= f.label :problems %><br>
    <%= f.text_area :problems %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
