<%= form_for(submission, html: { class: "form" }) do |f| %>
  <h1 class="form-header">Weź udział w warsztatach HTML+CSS</h1>
  <% if submission.errors.any? %>
    <div class="form-error-box">
      <h2 class="form-error-header">Popraw błędy :(</h2>

      <ul class="form-error-list">
      <% submission.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-field">
    <%= f.label :full_name, "Imię i nazwisko" %>
    <%= f.text_field :full_name %>
  </div>
  <div class="form-field">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>
  <div class="form-field">
    <%= f.label :age, "Wiek" %>
    <%= f.number_field :age %>
  </div>

  <div class="form-field">
    <%= f.label :description, "Czym się zajmujesz? Co lubisz robić w wolnym czasie?" %>
    <%= f.text_area :description %>
  </div>

  <div class="form-field">
    <%= f.label :goals, "Czemu chcesz wziąć udział w warsztatach?" %>
    <p>Jak planujesz wykorzystać zdobytą wiedzę? UWAGA: To pytanie jest decydujące, więc postaraj się szczerze na nie odpowiedzieć!
    Pomocny może się okazać nasz <a target="_blank" href="http://theawwwesomes.org/poradnik/">poradnik</a>.</p>
    <%= f.text_area :goals %>
  </div>

  <fieldset class="form-field form-field-collection">
    <legend>Jak dobrze znasz język angielski?</legend>
    <div>
      <%= f.radio_button :english, :none %>
      <%= f.label :english, "Nie mówię po angielsku.", value: "none" %>
    </div>
    <div>
      <%= f.radio_button :english, :basic %>
      <%= f.label :english, "Mam podstawową wiedzę.", value: "basic" %>
    </div>
    <div>
      <%= f.radio_button :english, :fluent %>
      <%= f.label :english, "Dobrze mówię po angielsku.", value: "fluent" %>
    </div>
  </fieldset>

  <% Submission::SKILLS.each do |skill, name| %>
    <fieldset class="form-field form-field-collection">
      <legend>Czy znasz <%= name %>?</legend>

      <div>
        <%= f.radio_button skill, :never %>
        <%= f.label skill, "Nie", value: "never" %>
      </div>
      <div>
        <%= f.radio_button skill, :heard %>
        <%= f.label skill, "Coś kojarzę", value: "heard" %>
      </div>
      <div>
        <%= f.radio_button skill, :used %>
        <%= f.label skill, "Trochę znam", value: "used" %>
      </div>
      <div>
        <%= f.radio_button skill, :fluent %>
        <%= f.label skill, "Znam",  value: "fluent" %>
      </div>
    </fieldset>
  <% end %>

  <fieldset class="form-field form-field-collection">
    <legend>
      Czy akceptujesz nasz Code of Conduct?<br/>
      <a href="http://theawwwesomes.org/code-of-conduct/" target="_blank">http://theawwwesomes.org/code-of-conduct/</a>
    </legend>
    <div>
      <%= f.radio_button :first_time, true %>
      <%= f.label :first_time, "Tak",  value: true %>
    </div>
    <div>
      <%= f.radio_button :first_time, false %>
      <%= f.label :first_time, "Nie",  value: false %>
    </div>
  </div>

  <div class="form-field">
    <%= f.submit "Wyślij zgłoszenie", class: "btn-small" %>
  </div>
<% end %>
