<%= render 'layouts/header.html.erb' %>

<h1>Rated</h1>

<table>
  <thead>
    <tr>
      <th>Full name</th>
      <th>Age</th>
      <th>Average rate</th>
      <th>Rates count</th>
      <th>Registration date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @submissions_rated.each do |submission| %>
      <tr>
        <td><%= submission.full_name %></td>
        <td><%= submission.age %></td>
        <td><%= %></td>
        <td><%= submission.rates.count %></td>
        <td><%= submission.created_at %></td>
        <td><%= link_to 'Show', submission %></td>
        <td><%= link_to 'Destroy', submission, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
