<thead class="submissions-table-header">
  <tr>
    <th class="submission-header-name">Full name</th>
    <th class="submission-header-narrow submission-mobile-hidden">Email</th>
    <th class="submission-header-narrow submission-mobile-hidden">Average</th>
    <th class="submission-header-narrow" colspan="3"></th>
  </tr>
</thead>

<tbody class="submissions-table-body">
  <% submissions_accepted.each do |submission| %>
  <tr>
    <td class="submission-body-name"><%= submission.full_name %></td>
    <td class="submission-mobile-hidden"><%= submission.email %></td>
    <td class="submission-mobile-hidden"><%= submission.average_rate.round(2) if submission.rated? %></td>
    <td><%= link_to 'Show', submission %></td>
  </tr>
  <% end %>
</tbody>

<thead class="submissions-table-header">
  <tr>
    <th class="submission-header-name">Full name</th>
    <th class="submission-header-narrow submission-mobile-hidden">Email</th>
    <th class="submission-header-narrow submission-mobile-hidden">Average</th>
    <th class="submission-header-narrow" colspan="3"></th>
  </tr>
</thead>

<tbody class="submissions-table-body">
  <% submissions_waitlist.each do |submission| %>
  <tr>
    <td class="submission-body-name"><%= submission.full_name %></td>
    <td class="submission-mobile-hidden"><%= submission.email %></td>
    <td class="submission-mobile-hidden"><%= submission.average_rate.round(2) if submission.rated? %></td>
    <td><%= link_to 'Show', submission %></td>
  </tr>
  <% end %>
</tbody>

<thead class="submissions-table-header">
  <tr>
    <th class="submission-header-name">Full name</th>
    <th class="submission-header-narrow submission-mobile-hidden">Email</th>
    <th class="submission-header-narrow submission-mobile-hidden">Average</th>
    <th class="submission-header-narrow" colspan="3"></th>
  </tr>
</thead>

<tbody class="submissions-table-body">
  <% submissions_unaccepted.each do |submission| %>
  <tr>
    <td class="submission-body-name"><%= submission.full_name %></td>
    <td class="submission-mobile-hidden"><%= submission.email %></td>
    <td class="submission-mobile-hidden"><%= submission.average_rate.round(2) if submission.rated? %></td>
    <td><%= link_to 'Show', submission %></td>
  </tr>
  <% end %>
</tbody>

Download:
<br/>
<%= link_to "Accepted", csv_download_accepted_path(format: "csv") %>
<br/>
<%= link_to "Waitlist", csv_download_waitlist_path(format: "csv") %>
<br/>
<%= link_to "Unaccepted", csv_download_unaccepted_path(format: "csv") %>
