<%= render 'layouts/header' %>
<p id="notice"><%= notice %></p>

<p>
  <strong>ID:</strong>
  <%= @submission.id %>
</p>

<p>
  <strong>Full name:</strong>
  <%= @submission.full_name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @submission.status %>
</p>

<p>
  <strong>Email:</strong>
  <%= @submission.email %>
</p>

<p>
  <strong>Age:</strong>
  <%= @submission.age %>
</p>

<p>
  <strong>Codecademy username:</strong>
  <%= @submission.codecademy_username %>
</p>

<p>
  <strong>Codecademy status:</strong>
  <%= @submission.codecademy_status %>
</p>

<p>
  <strong>Codecademy url:</strong>
  <%= link_to "https://www.codecademy.com/#{@submission.codecademy_username}" %>
</p>

<p>
  <strong>Description:</strong>
  <%= @submission.description %>
</p>

<p>
  <strong>HTML:</strong>
  <%= @submission.html %>
</p>

<p>
  <strong>CSS:</strong>
  <%= @submission.css %>
</p>

<p>
  <strong>JavaScript:</strong>
  <%= @submission.js %>
</p>

<p>
  <strong>Ruby on Rails:</strong>
  <%= @submission.ror %>
</p>

<p>
  <strong>Databases:</strong>
  <%= @submission.db %>
</p>

<p>
  <strong>Any other programming languages:</strong>
  <%= @submission.programming_others %>
</p>

<p>
  <strong>English:</strong>
  <%= @submission.english %>
</p>

<p>
  <strong>Operating system:</strong>
  <%= @submission.operating_system %>
</p>

<p>
  <strong>First time:</strong>
  <%= @submission.first_time %>
</p>

<p>
  <strong>Goals:</strong>
  <%= @submission.goals %>
</p>

<p>
  <strong>Problems:</strong>
  <%= @submission.problems %>
</p>

<% (0..5).each do |rate| %>
  <%= button_to rate, submission_rate_path(@submission), params: {value: rate} %>
<% end %>

<%= link_to 'Back', submissions_path %>
