<%= render 'layouts/header' %>

<% if comment.errors.any? %>
  <div class="form-error-box">
    <h2 class="form-error-header">Your comment needs to be corrected</h2>

    <ul class="form-error-list">
    <% comment.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="l-wrapper-narrow">
  <%= link_to 'â† Back', submissions_path, class: "link-return" %>
  <article class="l-submission-single">
    <h1 class="submission-header">
      <%= submission.full_name %>
      <span class="submission-header-status"><%= submission.status %></span>
    </h1>

    <p class="submission-answer">
      <span class="submission-answer-label">Email:</span>
      <%= submission.email %>
    </p>

    <p class="submission-answer">
      <span class="submission-answer-label">Age:</span>
      <%= submission.age %>
    </p>

    <p class="submission-answer">
      <span class="submission-answer-label">Codecademy username:</span>
      <%= submission.codecademy_username %>
    </p>

    <p class="submission-answer">
      <span class="submission-answer-label">Codecademy status:</span>
      <%= submission.codecademy_status %>
    </p>

    <p class="submission-answer" class="submission-answer">
      <span class="submission-answer-label">Codecademy url:</span>
      <%= link_to "https://www.codecademy.com/#{submission.codecademy_username}" %>
    </p>

    <p class="submission-answer submission-answer-block">
      <span class="submission-answer-label">Description:</span>
      <%= submission.description %>
    </p>

    <p class="submission-answer">
      <span class="submission-answer-label">HTML:</span>
      <%= submission.html %>
    </p>

    <p class="submission-answer">
      <span class="submission-answer-label">CSS:</span>
      <%= submission.css %>
    </p>

    <p class="submission-answer">
      <span class="submission-answer-label">JavaScript:</span>
      <%= submission.js %>
    </p>

    <p class="submission-answer">
      <span class="submission-answer-label">Ruby on Rails:</span>
      <%= submission.ror %>
    </p>

    <p class="submission-answer">
      <span class="submission-answer-label">Databases:</span>
      <%= submission.db %>
    </p>

    <p class="submission-answer">
      <span class="submission-answer-label">Any other programming languages:</span>
      <%= submission.programming_others %>
    </p>

    <p class="submission-answer">
      <span class="submission-answer-label">English:</span>
      <%= submission.english %>
    </p>

    <p class="submission-answer">
      <span class="submission-answer-label">Operating system:</span>
      <%= submission.operating_system %>
    </p>

    <p class="submission-answer">
      <span class="submission-answer-label">First time:</span>
      <%= submission.first_time ? "Yes" : "I took part in Rails Girls" %>
    </p>

    <p class="submission-answer submission-answer-block">
      <span class="submission-answer-label">Goals:</span>
      <%= submission.goals %>
    </p>

    <p class="submission-answer submission-answer-block">
      <span class="submission-answer-label">Problems:</span>
      <%= submission.problems %>
    </p>

    <aside class="aside-widget aside-widget-absolute">
      <%= form_tag(submission_rate_path(submission), class: "submission-rating-form") do %>
        <fieldset class="starability-fade fieldset-inline">
          <% 5.downto(1) do |rate| %>
            <%= radio_button_tag("value", rate) %>
            <%= label_tag("value_" + rate.to_s, rate) %>
          <% end %>
        </fieldset>
        <%= submit_tag("Rate!", class: "btn-small btn-space-left")%>
      <% end %>

      <section class="submission-rates">
        <% if submission.rated? %>
          <h2 class="aside-widget-header">Rates:</h2>
          <% rate_presenters.each do |presenter| %>
            <div class="submission-rate">
              <span class="submission-rate-author">
                <%= presenter.user_nickname %>
              </span>
              rated
              <span class="submission-rate-value">
                <%= presenter.value %>
              </span>
            </div>
          <% end %>
          <span class="submission-rate-avg">
            Average rate is
            <strong class="submission-rate-avg-number">
              <%= submission.average_rate.round(2) %>
            </strong>
          </span>
        <% end %>
      </section>
      <section class="submission-comments">
        <h2 class="aside-widget-header"> Comments </h2>
        <% comment_presenters.each do |presenter| %>
          <div class="submission-comment">
            <span class="submission-comment-author"><%= presenter.user_nickname %></span>
            <span class="submission-comment-date">(<%= presenter.timestamp.strftime("%m-%d-%Y") %>)</span>
            <div class="submission-comment-content"><%= presenter.body %></div>
            <br>
          </div>
        <% end %>

        <%= render 'comments/form', { submission: submission, comment: comment } %>
      </comments>
    </aside>
  </article>
</div>
