<%= render 'layouts/header' %>


<div class="l-wrapper-narrow">
  <%= link_to 'â† Back', submissions_path, class: "link-return" %>
  <article class="l-submission-single">
    <h1 class="submission-header">
      <%= @submission.full_name %>
      <span class="submission-header-status"><%= @submission.status %></span>
    </h1>

    <p class="submission-answer">
      <span class="submission-answer-label">Email:</span>
      <%= @submission.email %>
    </p>

    <p class="submission-answer">
      <span class="submission-answer-label">Age:</span>
      <%= @submission.age %>
    </p>

    <p class="submission-answer">
      <span class="submission-answer-label">Codecademy username:</span>
      <%= @submission.codecademy_username %>
    </p>

    <p class="submission-answer">
      <span class="submission-answer-label">Codecademy status:</span>
      <%= @submission.codecademy_status %>
    </p>

    <p class="submission-answer" class="submission-answer">
      <span class="submission-answer-label">Codecademy url:</span>
      <%= link_to "https://www.codecademy.com/#{@submission.codecademy_username}" %>
    </p>

    <p class="submission-answer submission-answer-block">
      <span class="submission-answer-label">Description:</span>
      <%= @submission.description %>
    </p>

    <p class="submission-answer">
      <span class="submission-answer-label">HTML:</span>
      <%= @submission.html %>
    </p>

    <p class="submission-answer">
      <span class="submission-answer-label">CSS:</span>
      <%= @submission.css %>
    </p>

    <p class="submission-answer">
      <span class="submission-answer-label">JavaScript:</span>
      <%= @submission.js %>
    </p>

    <p class="submission-answer">
      <span class="submission-answer-label">Ruby on Rails:</span>
      <%= @submission.ror %>
    </p>

    <p class="submission-answer">
      <span class="submission-answer-label">Databases:</span>
      <%= @submission.db %>
    </p>

    <p class="submission-answer">
      <span class="submission-answer-label">Any other programming languages:</span>
      <%= @submission.programming_others %>
    </p>

    <p class="submission-answer">
      <span class="submission-answer-label">English:</span>
      <%= @submission.english %>
    </p>

    <p class="submission-answer">
      <span class="submission-answer-label">Operating system:</span>
      <%= @submission.operating_system %>
    </p>

    <p class="submission-answer">
      <span class="submission-answer-label">First time:</span>
      <%= @submission.first_time ? "Yes" : "I took part in Rails Girls" %>
    </p>

    <p class="submission-answer submission-answer-block">
      <span class="submission-answer-label">Goals:</span>
      <%= @submission.goals %>
    </p>

    <p class="submission-answer submission-answer-block">
      <span class="submission-answer-label">Problems:</span>
      <%= @submission.problems %>
    </p>

    <aside class="aside-widget">
      <% (0..5).each do |rate| %>
        <%= button_to rate, submission_rate_path(@submission), params: {value: rate} %>
      <% end %>
    </aside>
  </article>
</div>

<% if Submission.rated.include?(@submission) %>
  <% @submission.rates.each do |rate| %>
    <%= "#{rate.user.nickname}: #{rate.value}" %>
    </br>
  <% end %>
<% end %>
</br>
<div> Comments: </div>
<% @submission.comments.each do |comment| %>
  <tr>
    <td><%= comment.body %></td>
    <td><strong><%= comment.user.nickname %></strong></td>
    </br>
  </tr>
<% end %>

<%= render 'comments/form' %>
</br>
