<nav class="submission-filters">
  <ul class="submission-filters-list">
    <li ><%= link_to 'All', submissions_path, class: "active" %></li>
    <li><%= link_to 'To rate', submissions_to_rate_path %></li>
    <li><%= link_to 'Rated', submissions_rated_path %></li>
    <li><%= link_to 'Rejected', submissions_rejected_path %></li>
    <li><%= link_to 'Results', submissions_results_path %></li>
  </ul>
</nav>
