<head>
  <td><%= link_to 'All', submissions_path %></td>
  <td><%= link_to 'To rate', submissions_to_rate_path %></td>
  <td><%= link_to 'Rated', submissions_rated_path %></td>
  <td><%= link_to 'Rejected', submissions_rejected_path %></td>
  <td><%= link_to 'Log out', destroy_user_session_path, :method => :delete %></td>
</head>
