<!DOCTYPE html>
<html lang="pl-PL">
<head>
  <title>Warsztaty HTML & CSS organizowane przez WebMuses i The Awwwesomes</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Lato:400,300,700&subset=latin,latin-ext' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="awwwesome-bg">
<p id="notice"><%= notice %></p>

<% if flash[:error] %>
  <div>
    <% flash[:error].each do |error| %>
      <%= error %>
    <% end %>
  </div>
<% end %>

<%= yield %>

<%= render 'layouts/footer' %>
</body>
</html>
